header {
   width: 100%;
   background-color: grey;
   font-size: 40px;
   text-align: center;

}

footer{
   width: 100%;
   background-color: grey;
   position: absolute;
   bottom: 0;
}
footer p{
   font-size: 15px;
   text-align: left;   
}

body {
   background-color: whitesmoke;
}

p {
   font-size: 25px;
   text-align: center;
   width: 960px;
   margin: 0 auto;
}

.cards {
   padding: 15px;
   width: 960px;
   margin: 0 auto;
   background-color: lightgray;
   height: 830px;
}
.color_name{
   font-size: 1.1em;
   color:dimgrey;
}
.card {
   display: inline-flex;
   margin: 15px;
   position: relative;
   justify-content: center;
   flex-flow: row wrap;
   align-items: center;

   background-color: white;
   border: 1px solid gray;
   border-radius: 7px;

   width: 100px;
   height: 160px;
}

.color_image {
   margin: 0 auto;
   height: 35px;
   width: 35px;
   border-radius: 7px;
}

#white {
   background-color: white;
   border: 1px solid gray;

}

#black {
   background-color: black;
   border: 1px solid gray;

}

#lightcoral {
   background-color: lightcoral;
   border: 1px solid gray;

}

#lightyellow {
   background-color: lightyellow;
   border: 1px solid gray;

}
#darkslategray {
   background-color: darkslategray;
   border: 1px solid gray;

}


.btns{
   width: 100%;
   height: 20px;
   
   position: absolute; 
   bottom: 0;
   left: 0;
}

.basket {
   background: url(img/close.svg) no-repeat;
   background-size: cover;
   position: absolute;
   right: 5px;
   bottom: 5px;
   
   height: 15px;
   width: 12px;   
}

.star{
      background: url(img/fav.svg) no-repeat;
   background-size: cover;
   position: absolute;
   left: 5px;
   bottom: 5px;
   
   height: 15px;
   width: 15px;   
}
